<launch>
    
    <!--- Sim Time -->
    <param name="/use_sim_time" value="false" />
    <param name="/initLocalizeFlag" value="true" />
    <param name="/Scene" value="ywxk" />
    <param name="/initMapFrameNum" value="960" />
    <param name="/Threshold" value="0.4" />
    <param name="/relocalHz" value="1" />

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sc_lego_loam)/launch/relocal.rviz" />

    <!--- TF -->
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 /map    /camera_init 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        /camera /base_link   10" />

    <!--- LeGO-LOAM -->    
    <node pkg="sc_lego_loam" type="sc_imageProjection"    name="sc_imageProjection"    output="screen"/>
    <node pkg="sc_lego_loam" type="sc_featureAssociation" name="sc_featureAssociation" output="screen"/>
    <node pkg="sc_lego_loam" type="sc_mapOptmization"     name="sc_mapOptmization"     output="screen"/>
    <node pkg="sc_lego_loam" type="sc_transformFusion"    name="sc_transformFusion"    output="screen"/>

</launch>
