<launch>
    
    <!--- Run Rviz-->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sc_lego_loam)/launch/slam.rviz" /> -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sc_lego_loam)/launch/relocal.rviz" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sc_lego_loam)/launch/relocal_img.rviz" />
    <!--- Sim Time -->
    <param name="/use_sim_time" value="false" />
    <!--- Run Mode -->
    <param name="/LocalizeFlag" value="true" />
    <param name="/generateMap" value="0" />
    <param name="/readDescTxt" value="false" />
    <!-- 0:relocal 1:genMap 2:genMapPlus -->

    <!--定位和建图都要改-->
    <!-- <param name="/Scene" value="yuanqu_3.5m" />
    <param name="/MapFrameNum" value="315" /> -->
    <param name="/Scene" value="insideLoop" />
    <param name="/MapFrameNum" value="191" />
    <param name="/distThreshold" value="-3.5" />
    <param name="/lateralNum" value="1" />

    <!--定位要改-->
    <param name="/evalPath" value="/home/ubuwgb/catkin_ws/data/pre_map/evaluation.txt" />
    <param name="/badPath" value="/home/ubuwgb/catkin_ws/data/pre_map/bad.txt" />
    <param name="/descriptor" value="sc" />
    <param name="/Threshold" value="0.4" />
    <param name="/failUtmThreshold" value="8" />

    <!--建图要改-->
    <param name="/save_startind" value="0" />

    <!--- TF -->
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 /map    /camera_init 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        /camera /base_link   10" />

    <!--- LeGO-LOAM -->    
    <node pkg="sc_lego_loam" type="sc_imageProjection"    name="sc_imageProjection"    output="screen"/>
    <node pkg="sc_lego_loam" type="sc_featureAssociation" name="sc_featureAssociation" output="screen"/>
    <node pkg="sc_lego_loam" type="sc_mapOptmization"     name="sc_mapOptmization"     output="screen"/>
    <node pkg="sc_lego_loam" type="sc_transformFusion"    name="sc_transformFusion"    output="screen"/>

</launch>
